<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}{/block}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="网贷小猫官方提现" />
    <meta name="Keywords" content="网贷小猫官方提现" />
    <meta name="applicable-device" content="mobile" />
    <meta http-equiv ="Cache-Control" content="no-transform" />
    <meta name="flexible" content="initial-dpr=2" />
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link href="/public/static/css/style.css?<?php echo date("Y-m-d H:i",intval(time()));  ?>" rel="stylesheet" type="text/css" />
    {block name="css"}{/block}
    {block name="headjs"}{/block}
</head>
<body>
{block name="content"}{/block}
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
{block name="bodyjs"}{/block}
</body>
</html>